body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
    cursor: url('assets/images/astronauta_invertido.png'), auto;
  }
  
  .espacio {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/images/espacio.png');
    background-size: contain; /* Mostrar la imagen completa */
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
  }
    
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url('assets/images/astronauta_invertido.png'), auto;
  }
  
  .luna-zona {
    position: absolute;
    top: 15%; /* Ajustalo según la posición real de la luna */
    left: 30%;
    width: 10vw;
    height: 10vw;
    cursor: url('assets/images/astronauta.png'), auto;
    background: transparent;
    border: none;
    z-index: 10;
  }
  
/* Temblor visual */
.espacio.temblor {
  animation: shake 0.4s infinite;
}

@keyframes shake {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(2px, -2px); }
  50%  { transform: translate(-2px, 2px); }
  75%  { transform: translate(2px, 2px); }
  100% { transform: translate(0px, 0px); }
}

.mensaje-espacio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1000;
}
.mensaje-espacio.visible {
  opacity: 1;
}


/* Escala responsive para móviles */
@media (max-width: 768px) {
  .luna-zona {
    width: 30vw;
    height: 30vw;
    top: 30vh;
    left: 20vw;
    background: rgba(255, 255, 255, 0.1); /* para que puedas verla temporalmente */
    border: 2px dashed white; /* debug visual */
  }
}

